.contact {
  margin-top: 150px;

  p { 
    margin: 25px 0;
    text-align: center;
    font-size: clamp(18px, calc(18px + 0.01574 * (100vw - 360px)), 35px);
    line-height: clamp(12px, calc(12px + 0.02593 * (100vw - 360px)), 40px);
   }

  a {
    transition: .5s ease-out;
  }

  a:hover {
    color: $black;
  }
}

.scroll-up {
  text-align: center;
  font-size: calc(0.8rem + 0.5vw);
  margin: 0;
  padding: 50px;
}